<div id="submission_outline"> 
  
  <h1>Submit something tasty</h1>

  <div id="centering_submission_form">
    <%= form_for(@recipe) do |f| %>

      <div class="field" id="title_submission_div">
        <%= f.label :title %></br>
        <%= f.text_field :title %>
      </div>

      <div class="field" id="description_submission_div">
        <%= f.label :description %></br>
        <%= f.text_area :description %>
      </div>
      
      <div class="field">
        <%= f.label :ingredients %></br>
        <%= f.text_area :ingredients %>
      </div>
      
      <div class="field">
        <%= f.label :instructions %> </br >
        <%= f.text_area :instructions %> </br>
      </div>

      <%= radio_button_tag(:category, "main_dish") %>
      <%= label_tag(:category_main_dish, "Main Dish") %>
      <%= radio_button_tag(:category, "appetizer") %>
      <%= label_tag(:category_appetizer, "Appetizer") %>
      <%= radio_button_tag(:category, "soup") %>
      <%= label_tag(:category_soup, "Soup") %>
      <%= radio_button_tag(:category, "salad") %>
      <%= label_tag(:category_salad, "Salad") %>
      <%= radio_button_tag(:category, "desert") %>
      <%= label_tag(:category_desert, "Desert") %>


      <div class="actions">
        <%= f.submit %>
      </div>

    <% end %>
  </div>
</div>