<div id="submission_outline"> 
  
  <h1>Submit something tasty</h1>

  <div id="centering_submission_form">

    <%= form_for @recipe, :html => {:mutipart => true} do |f| %>

      <div class="field" id="title_submission_div">
        <%= f.label :title %></br>
        <%= f.text_field :title %>
      </div>

      <div class="field" id="recipe_image_upload"> 
      <%= f.file_field :recipeimage %>
    </div>

      <div class="field" id="description_submission_div">
        <%= f.label :description %></br>
        <%= f.text_area :description %>
      </div>
      
      <div class="field">
        <%= f.label :ingredients %></br>
        <%= f.text_area :ingredients %>
      </div>
      
      <div class="field">
        <%= f.label :instructions %> </br >
        <%= f.text_area :instructions %> </br>
      </div>

      <%= radio_button("recipe", "category", "main_dish") %>
      <%= label(:category, "main_dish") %>
      <%= radio_button("recipe", "category", "appetizer") %>
      <%= label(:category, "Appetizer") %>
      <%= radio_button("recipe", "category", "soup") %>
      <%= label(:category, "Soup") %>
      <%= radio_button("recipe", "category", "salad") %>
      <%= label(:category, "Salad") %>
      <%= radio_button("recipe", "category", "desert") %>
      <%= label(:category, "Dessert") %>

      <div class="actions">
        <%= f.submit %>
      </div>

    <% end %>
  </div>
</div>